<div class="container-fluid main_banner">
  <div class="container">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 banner_text">
      <h5>Welcome to XpBids</h5>
      <h1>Get it done for Less!</h1>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="d-block w-100">Handyman </h2>
          </div>
          <div class="carousel-item">
            <h2 class="d-block w-100">Painter </h2>
          </div>
          <div class="carousel-item">
            <h2 class="d-block w-100">Laminate Flooring</h2>
          </div>
          <div class="carousel-item">
            <h2 class="d-block w-100">Cieling Fan Installation</h2>
          </div>
          <div class="carousel-item">
            <h2 class="d-block w-100">Kitchen Remodeling</h2>
          </div>
          <div class="carousel-item">
            <h2 class="d-block w-100">Drywall Installation</h2>
          </div>
          <div class="carousel-item">
            <h2 class="d-block w-100">Drywall Repair</h2>
          </div>
          <div class="carousel-item">
            <h2 class="d-block w-100">Recess Light installation</h2>
          </div>
        </div>
      </div>
      <a href="http://s8.staging-host.com/xpbid/consumer/sign-up.html">Let's Get Started</a>
    </div>
  </div>
</div>

<div class="container-fluid team">
  <div class="container">
    <div class="text-center team_hd">
      <h3> Now you can receive</h3>
      <h2>Live Bids From Service Professionals!</h2>
    </div>
    <owl-carousel [options]="carouselOptions">
     <div class="item" *ngFor="let service of servicesData;let i = index">
      <div class="profile_sec">
         <div class="pro_1">
            <img [src]="service.image" alt="profile">
         </div>
         <div class="des">
            <h3>{{service.name}} <br> <span>{{service.job}} </span></h3>
            <p class="common_p">{{service.comment}}</p>
            <a (click)="openDetailDBx(service)" class="cursor"> Read More </a>
         </div>
      </div>
    </div>
    </owl-carousel>
  </div>
</div>

<div id="how-itworks" class="container-fluid how-it-works">
  <div class="container">
    <h2 class="text-center"> How Does <span>This Work </span> </h2>
    <div class="row bottom_sec">
      <div class="col-sm-4 col-md-4 col-xl-2 slide-right">
        <div class="works-icon"><img src="../assets/images/camera.png" alt="..." class="img-fluid"></div>
        <h4>Take a picture of your project</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-xl-2 slide-right">
        <div class="works-icon"><img src="../assets/images/write.png" alt="..." class="img-fluid"></div>
        <h4>Write a description of the problem</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-xl-2 slide-right">
        <div class="works-icon"><img src="../assets/images/post.png" alt="..." class="img-fluid"></div>
        <h4>Post your Item</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-xl-2 slide-right">
        <div class="works-icon"><img src="../assets/images/bid.png" alt="..." class="img-fluid"></div>
        <h4>Get bids from service professionals</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-xl-2 slide-right">
        <div class="works-icon"><img src="../assets/images/review.png" alt="..." class="img-fluid"></div>
        <h4>Review and select a service provider</h4>
      </div>
      <div class="col-sm-4 col-md-4 col-xl-2 slide-right">
        <div class="works-icon"><img src="../assets/images/track.png" alt="..." class="img-fluid"></div>
        <h4>Track your project</h4>
      </div>
    </div>
  </div>
</div>

<div id="categories" class="container-fluid category_out">
  <div class="container">
    <div class="text-center category_hd">
      <h3> Quotes are frustrating</h3>
      <h2>Get live bids in any category</h2>
      <p class="common_p"> Our platform empowers you to find and choose the right service provider for your project
        either small or<br> complex. We want to make the process of repair, installation and services easy for you.</p>
    </div>
    <div class="row">
      <div class="col col1 catgory_box">
        <div class="category">
          <div class="cate_img"> <img src="../assets/images/category_1.jpg" class="img-fluid" alt="category_image">
          </div>
          <div class="overlay"><a href=""> Motorcycle </a> </div>
        </div>
      </div>
      <div class="col col2 catgory_box">
        <div class="category">
          <div class="cate_img"> <img src="../assets/images/category_2.jpg" class="img-fluid" alt="category_image">
          </div>
          <div class="overlay">
            <a href=""> Boats </a>
          </div>
        </div>
      </div>
      <div class="col col3 catgory_box">
        <div class="category">
          <div class="cate_img"> <img src="../assets/images/category_3.jpg" class="img-fluid" alt="category_image">
          </div>
          <div class="overlay">
            <a href=""> Metal fabrication </a>
          </div>
        </div>
      </div>
      <div class="col col4 catgory_box">
        <div class="category">
          <div class="cate_img"> <img src="../assets/images/category_4.jpg" class="img-fluid" alt="category_image">
          </div>
          <div class="overlay">
            <a href="">Gadget </a>
          </div>
        </div>
      </div>
      <div class="col col5 catgory_box">
        <div class="category">
          <div class="cate_img"> <img src="../assets/images/category_5.jpg" class="img-fluid" alt="category_image">
          </div>
          <div class="overlay">
            <a href=""> Automotive </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center all_cete_btn">
      <a href="categories.html">See All Categories </a>
    </div>
  </div>
</div>

<div class="container-fluid security_sec ">
  <div class="container">
    <div class=" text-center sec_icon"> <img src="../assets/images/security.png" alt="icon"> </div>
    <div class=" text-center sec_text">
      <h3> We safegaurd Your project from counterparty risk</h3>
      <p class="common_p">Your payments are 100% safe with the Most trusted and Licensed payment escrow in the world</p>
    </div>
    <div class="text-center Sec_btn">
      <a href="">Let's Get Started </a>
    </div>
  </div>
</div>
<div class="container-fluid partner_sec ">
  <div class="container">
    <div class=" text-center sec_icon"> </div>
    <div class=" text-center sec_text">
      <h3> Get Your Projects Funded</h3>
    </div>
    <div class="text-center">
      <a href="http://lendingtree.com" target="_blank"><img src="../assets/images/lendingtree/LT_logo_2018_Gradient_White.png" width="273" height="100" alt="logo" /></a> 
      <a href="http://sofi.com" target="_blank"><img src="../assets/images/SoFi_logo_white.png" width="200" height="75" alt="logo"/></a>
      <a href="http://upstart.com" target="_blank"><img src="../assets/images/upstart_logo_original.png" width="360" height="75" alt="logo"/></a>
    </div>
  </div>
</div>
<div class="container-fluid category_out testimonial_sec">
  <div class="container">
    <div class="text-center category_hd">
      <h3>What Your neighbors </h3>
      <h2> are saying about XpBids</h2>
    </div>
    <div class="container testimo-sec">
      <div class="center slider responsive">
        <div>
          <div class="main_sec_test">
            <div class="top_sec">
              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
            <div class="bottom_sec">
              <span class="bottom_secL"><img src="../assets/images/reviewdp1.jpg" alt="pic" /> </span>
              <span class="bottom_secR">
                <span class="text_name">Keith Williams<br><span>California</span></span>
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="main_sec_test">
            <div class="top_sec">
              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
            <div class="bottom_sec">
              <span class="bottom_secL"><img src="../assets/images/reviewdp2.jpg" alt="pic" /> </span>
              <span class="bottom_secR">
                <span class="text_name">Taylor Swift<br><span>Australia</span></span>
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="main_sec_test">
            <div class="top_sec">
              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
            <div class="bottom_sec">
              <span class="bottom_secL"><img src="../assets/images/reviewdp3.jpg" alt="pic" /> </span>
              <span class="bottom_secR">
                <span class="text_name">Daniel Hall<br><span>New York</span></span>
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="main_sec_test">
            <div class="top_sec">
              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
            <div class="bottom_sec">
              <span class="bottom_secL"><img src="../assets/images/reviewdp1.jpg" alt="pic" /> </span>
              <span class="bottom_secR">
                <span class="text_name">Keith Williams<br><span>California</span></span>
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="main_sec_test">
            <div class="top_sec">
              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
            <div class="bottom_sec">
              <span class="bottom_secL"><img src="../assets/images/reviewdp2.jpg" alt="pic" /> </span>
              <span class="bottom_secR">
                <span class="text_name">Taylor Swift<br><span>Australia</span></span>
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="main_sec_test">
            <div class="top_sec">
              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
            <div class="bottom_sec">
              <span class="bottom_secL"><img src="../assets/images/reviewdp3.jpg" alt="pic" /> </span>
              <span class="bottom_secR">
                <span class="text_name">Daniel Hall<br><span>New York</span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid video_sec">
  <div class="container">
    <h2 class="text-center">Watch <span>Videos</span> </h2>
    <div class="vid row">
      <div class="first_sec row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 first_sec_box">
          <iframe height="223" src="https://www.youtube.com/embed/yAoLSRbwxL8" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 first_sec_box">
          <iframe height="223" src="https://www.youtube.com/embed/yAoLSRbwxL8" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 first_sec_box">
          <iframe height="223" src="https://www.youtube.com/embed/yAoLSRbwxL8" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 first_sec_box">
          <iframe height="223" src="https://www.youtube.com/embed/yAoLSRbwxL8" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="second_sec">
        <div class="col-lg-12">
          <iframe height="465" src="https://www.youtube.com/embed/yAoLSRbwxL8" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="text-center Sec_btn">
        <a href="">See All Videos</a>
      </div>
    </div>
  </div>
</div>

<div class="progress_sec container-fluid">
  <div class="container">
    <div class=" text-center pro_text">
      <h3> We empower you to track the</h3>
      <h2>Progress of your project</h2>
    </div>
    <div class="text-center laptop_img">
      <img src="../assets/images/laptop.png" alt="laptop_image" class="img-fluid">
    </div>
  </div>
</div>
<div class="trending_projects container-fluid">
  <div class="container">
    <div class=" text-center pro_text">
      <h2>Trending Projects</h2>
    </div>
    <ul class="text-center">
      <li>
        <img src="../assets/images/trending_style1.png" width="30" height="30" alt="img">
        <h5> 10045007 </h5>
        <p class="common_p"> New Post</p>
      </li>
      <li>
        <img src="../assets/images/trending_style2.png" width="31" height="31" alt="img">
        <h5> 2345047 </h5>
        <p class="common_p">In Progress Post</p>
      </li>
      <li>
        <img src="../assets/images/trending_style3.png" width="26" height="26" alt="img">
        <h5> 473004500 </h5>
        <p class="common_p">Completed Post</p>
      </li>
    </ul>
  </div>
</div>

<div class="blog_sec container-fluid">
  <div class="container">
    <div class="text-center category_hd">
      <h3> From our </h3>
      <h2>Lastest Blog</h2>
    </div>
    <div class="blg_part">
      <div class="owl-carousel_main owl-carousel owl-theme">
        <div class="item">
          <div class="firt_blog">
            <div class="img_sec">
              <img src="../assets/images/blog_img1.jpg" alt="profile">
              <div class="hover_icons">
                <ul>
                  <li><a href="#"> <img src="../assets/images/plus.png" alt="icon"> </a></li>
                  <li><a href="#"> <img src="../assets/images/share.png" alt="icon"> </a></li>
                </ul>
              </div>
            </div>
            <div class="des1">
              <h5>How to post your gadget</h5>
              <div class="blg_icons">
                <div class="time"> </div>
                <p class="time_p">16 Nov, 2015</p>
                <div class="time1"> </div>
                <p class="time_p">04:30 PM</p>
              </div>
              <p class="common_p"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam...</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="firt_blog">
            <div class="img_sec">
              <img src="../assets/images/blog_img2.jpg" alt="profile">
              <div class="hover_icons">
                <ul>
                  <li><a href="#"> <img src="../assets/images/plus.png" alt="icon"> </a></li>
                  <li><a href="#"> <img src="../assets/images/share.png" alt="icon"> </a></li>
                </ul>
              </div>
            </div>
            <div class="des1">
              <h5>How to post your gadget</h5>
              <div class="blg_icons">
                <div class="time"> </div>
                <p class="time_p">16 Nov, 2015</p>
                <div class="time1"> </div>
                <p class="time_p">04:30 PM</p>
              </div>
              <p class="common_p"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam...</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="firt_blog">
            <div class="img_sec">
              <img src="../assets/images/blog_img1.jpg" alt="profile">
              <div class="hover_icons">
                <ul>
                  <li><a href="#"> <img src="../assets/images/plus.png" alt="icon"> </a></li>
                  <li><a href="#"> <img src="../assets/images/share.png" alt="icon"> </a></li>
                </ul>
              </div>
            </div>
            <div class="des1">
              <h5>How to post your gadget</h5>
              <div class="blg_icons">
                <div class="time"> </div>
                <p class="time_p">16 Nov, 2015</p>
                <div class="time1"> </div>
                <p class="time_p">04:30 PM</p>
              </div>
              <p class="common_p"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam...</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="firt_blog">
            <div class="img_sec">
              <img src="../assets/images/blog_img2.jpg" alt="profile">
              <div class="hover_icons">
                <ul>
                  <li><a href="#"> <img src="../assets/images/plus.png" alt="icon"> </a></li>
                  <li><a href="#"> <img src="../assets/images/share.png" alt="icon"> </a></li>
                </ul>
              </div>
            </div>
            <div class="des1">
              <h5>How to post your gadget</h5>
              <div class="blg_icons">
                <div class="time"> </div>
                <p class="time_p">16 Nov, 2015</p>
                <div class="time1"> </div>
                <p class="time_p">04:30 PM</p>
              </div>
              <p class="common_p"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="download_app">
  <div class="container">
    <div class="text-center download_hd">
      <h3> Welcome to XpBids</h3>
      <h2>Download our App it’s FREE</h2>
      <p class="common_p">Now you can receive live bids</p>
    </div>
    <ul>
      <li> <a href="#"> <img alt="pic" src="../assets/images/apple_store.png"></a></li>
      <li> <a href="#"> <img alt="pic" src="../assets/images/google_play.png"></a></li>
    </ul>
  </div>
</div>