/* Fonts*/
$base-font: 'Open Sans', sans-serif;
$dec-font: 'Raleway', sans-serif;

/* color */
$c-heading: #ff5312;

$primary: #ff5312;
$secondary: #a02b00;
$warning: #fff256;
$danger: #ff0800;
$success: #73f399;
$info: #00cfd8;
