<footer>
  <div class="container-fluid footer_sec">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-4 footer_box1">
          <a href="index.html" class="logo_f"
            >
            <img
              src="../assets/images/logo1.png"
              width="120"
              height="49"
              alt="logo"
              class="black_logo"
          />
          <img
          src="../assets/images/logo_footer.png"
          width="120"
          height="49"
          alt="logo"
          class="white_logo"
       />
        </a>
          <p class="common_p">
            Our online marketplace provides the platform for consumers to find
            service providers at reasonable cost. We believe that the cost of
            any repair, service or installation should be fair. No other website
            provides this level of service...
          </p>
          <a href="about-us.html"> Read More </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 footer_box2">
          <h2>Watch videos</h2>
          <div class="footer_video">
            <div class="footer_video_l">
              <img alt="pic" src="../assets/images/footer_vid.jpg" />
            </div>
            <div class="footer_video_R">
              <p>
                <a href=""> How to track my project ? </a>
                <i class="date">
                  <img alt="pic" src="../assets/images/clock_footer.png" />
                  04:30</i
                >
              </p>
            </div>
          </div>
          <div class="footer_video">
            <div class="footer_video_l">
              <img alt="pic" src="../assets/images/footer_vid1.jpg" />
            </div>
            <div class="footer_video_R">
              <p>
                <a href=""> How to add category? </a>
                <i class="date">
                  <img alt="pic" src="../assets/images/clock_footer.png" />
                  04:30</i
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4 footer_box">
          <h2>Useful Links</h2>
          <ul>
            <li><a href="about-us.html">About Xpertsbid</a></li>
            <li><a href="javascript:void(0)">Blog</a></li>
            <li><a href="javascript:void(0)">Feedback</a></li>
            <li><a href="javascript:void(0)">Lending Tree</a></li>
            <li><a href="terms.html">Terms of Use</a></li>
            <li><a href="charity.html">Charity</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="sign-up.html">Sign up</a></li>
            <li><a href="service-provider.html">Service Provider</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy_right">
    <div class="container">
      <div class="copy">
        <p class="common_p">© XpBids 2018. All Rights Reserved.</p>
      </div>
      <ul class="social">
        <li><a href="javascript:void(0)" class="common fb_icon"></a></li>
        <li><a href="javascript:void(0)" class="common twitter_icon"></a></li>
        <li><a href="javascript:void(0)" class="common in_icon"></a></li>
      </ul>
    </div>
  </div>
</footer>
