@import '../../../assets/scss/base/variables';
@import '../../../assets/scss/base/mixins';

.footer_sec {
  background: url(../../../assets/images/footer_bg.jpg) left bottom no-repeat;
  padding-top: 52px;
  padding-bottom: 22px;

  @include breakpoint (xxlarge) {
    padding-left: 0;
    padding-right: 0;
  }

  @include breakpoint (small) {
    background-size: cover;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fe4e1d;
    padding-bottom: 13px;
    background: url(../../../assets/images/hover_bg.png) left bottom no-repeat;
    background-size: 43px 6px;
  }

  .footer_video {
    float: left;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 8px;

    .footer_video_l {
      float: left;
      width: 34px;
      margin-right: 9px;
    }

    .footer_video_R {
      float: right;
      width: calc(100% - 45px);

      p {
        font-size: 14px;
        color: #adadad;
        line-height: 17px;
        margin-bottom: 0;

        i {
          display: block;
        }
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0 0 3px 0;

      a {
        color: #adadad;
        font-size: 14px;
        font-family: $dec-font;
        font-weight: 500;
        line-height: 16px;
      }
    }
  }

  .copy {
    font-size: 14px;
    color: #adadad;
  }

  ul.social {
    display: flex;
    padding: 0px;
    margin: 35px 0 5px 0px;
    list-style: none;

    li {
      margin-right: 10px;

      a {
        background-image: url("../../../assets/images/social_sprite.png");
        background-color: rgba(0, 0, 0, 0);
        background-position: 0 0;
        background-repeat: no-repeat;
        display: inline-block;
        float: none;
        transition: all 0.25s ease;
        width: 30px;
        height: 30px;

        &.fb_icon {
          background-position: 0 0;

          &:hover {
            background-position: 0 -30px;
          }
        }

        &.twitter_icon {
          background-position: -33px 0px;

          &:hover {
            background-position: -33px -30px;
          }
        }

        &.youtube_icon {
          background-position: -70px 0px;

          &:hover {
            background-position: -70px -30px;
          }
        }

        &.link_icon {
          background-position: -108px 0px;

          &:hover {
            background-position: -108px -30px;
          }
        }
      }
    }
  }
}

.footer_box {
  @include breakpoint (small) {
    margin-bottom: 20px;
  }
}


// 
.footer_sec {
  background: inherit;
  padding-top: 80px;
  padding-bottom: 22px;

  @include breakpoint (small) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.footer_box1 {
  a {
    font-size: 14px;
    color: #ef3500;
    text-decoration: none;
    position: relative;

    &.logo_f {
      @include breakpoint (x-small) {
        text-align: center;
        float: left;
        width: 100%;
        margin-bottom: 15px;
      }
    }

    &:after {
      content: "";
      background: url(../../../assets/images/read_arrow.png);
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 5px;
      right: -29px;
    }

    &:first-child:after {
      content: "";
      background: inherit;
    }
  }

  p {
    margin-top: 19px;
    font-size: 14px;
    color: #7d7d7d;
    line-height: 22px;
  }
}

.footer_sec h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #151515;
  padding-bottom: 13px;
  background: inherit;
  font-family: 'Montserrat', sans-serif;
}

.footer_video_R {
  float: right;
  width: calc(100% - 104px);
}

.footer_sec .footer_video .footer_video_l {
  float: left;
  width: 102px;
  margin-right: 0;
}

.footer_video_l img {
  width: 100%;
}

.footer_sec .footer_video .footer_video_R {
  float: right;
  width: calc(100% - 115px);
}

.footer_video_R p a {
  text-decoration: none;
  color: #050001;
  font-size: 14px;

  &:hover {
    color: #e15523;
    transition: all ease .4s;
  }
}

.footer_sec {
  .footer_video .footer_video_R p i {
    display: block;
    margin-top: 2px;
  }

  ul li {
    list-style: none;
    padding: 0 0 11px 0;
    display: inline-block;
    width: 49%;
    position: relative;

    a {
      margin-left: 16px;
      position: relative;
      color: #555555;

      &:before {
        background: url(../../../assets/images/arrow_footer_b.png);
        width: 7px;
        height: 11px;
        position: absolute;
        background-repeat: no-repeat;
        top: 6px;
        background-size: 100%;
        content: "";
        left: -16px;
        top: 3px;
      }

      &:hover {
        color: #e15523;
        text-decoration: inherit;
      }
    }
  }
}

.footer_box2 {
  @media (max-width: 580px) {
    margin-top: 20px;
  }
}

.footer_box {
  @include breakpoint (small) {
    margin-top: 20px;
  }
}

.copy_right {
  background-color: #363636;
  padding: 13px 0;
  float: left;
  width: 100%;
}

.copy {
  float: left;

  @include breakpoint (x-small) {
    width: 100%;
    text-align: center;
  }
}

.copy_right ul {
  float: right;
  margin-bottom: 0px;

  @include breakpoint (x-small) {
    float: none;
    margin: 0 auto;
    width: 100px;
    padding: 10px 0 0 0;
    display: flex;
  }

  li {
    display: inline-block;
    margin: 0 6px;
  }
}

.footer_sec ul.social {
  display: flex;
  padding: 0px;
  margin: 35px 0 5px 0px;
  list-style: none;

}

.copy p {
  margin-bottom: 0px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.30);
}

.footer_sec ul.social li a.fb_icon {
  background-position: 0 0;
}

.copy_right .social a {
  background: url(../../../assets/images/social_media_sprite.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  float: none;
  display: inline-block;
  transition: all 0.30s ease;
}

a.common {
  &.twitter_icon {
    background-position: -17px 0px;
  }

  &.in_icon {
    background-position: -43px 0;
  }

  &.fb_icon {
    background-position: 7px 0px;

    &:hover {
      background-position: 7px -19px;
    }
  }

  &.twitter_icon:hover {
    background-position: -17px -19px;
  }

  &.in_icon:hover {
    background-position: -43px -19px;
  }
}
