@import '../../../assets/scss/base/variables';
@import '../../../assets/scss/base/mixins';

.header_top {
  background: #000;
  padding: 12px 0 13px 0;

  @include breakpoint(small) {
    display: none;
  }

  ul {
    padding: 0;

    li {
      padding: 0 8px;
      display: inline-block;

      @include breakpoint(x-small) {
        padding: 0 3px;
      }

      a {
        color: #bbbbbb;
        font-size: 14px;
        text-transform: uppercase;
        font-family: $dec-font;
        text-decoration: none;
        padding: 2px 0;

        @include breakpoint(x-small) {
          font-size: 12px;
        }

        &:hover,
        &.active {
          color: #fff !important;
        }

        &.logout {
          position: relative;
          padding-left: 30px;

          @include breakpoint(x-small) {
            padding-left: 20px;
          }

          &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 21px;
            height: 19px;
            content: "";
            background: url('../../../assets/images/logout_icon.png') no-repeat;
            background-size: 100%;

            @include breakpoint(x-small) {
              width: 17px;
              height: 15px;
              top: 3px;
            }
          }

          &:hover {
            &:after {
              background-position: bottom left;
            }
          }
        }
      }
    }
  }
}

.header_main {
  background: #fff;
  padding: 9px 0 6px 0;
  @include box-shadow (0px 1px 14px 0px rgba(0, 0, 0, 0.15));

  .container {
    position: relative;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;

    .navbar-nav {
      float: right;
      width: 100%;
      justify-content: flex-end;
      padding-right: 150px;

      @include breakpoint(medium) {
        padding-right: 0;
      }

      li {
        ul {
          display: none !important;

          @include breakpoint(medium) {
            display: block !important;
          }
        }

        a {
          font-size: 16px;
          color: #000000;
          padding-left: 14px;
          padding-right: 14px;
          position: relative;

          @include breakpoint(medium) {
            padding-left: 0;
          }

          &:after {
            position: absolute;
            display: none;
            width: 43px;
            height: 6px;
            content: "";
            bottom: -4px;
            transform: translateX(-50%);
            left: 50%;
            background: url('../../../assets/images/hover_bg.png') center bottom;
            background-size: 100%;

            @include breakpoint(medium) {
              left: 21px;
              bottom: 2px;
            }
          }

          &:hover,
          &.active {
            color: #f94c1d;

            &:after {
              display: block;
            }
          }
        }
      }
    }

  }
}

.rightMenu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  right: 15px;
  top: 12px;

  li {
    list-style: none;
  }

  .msg_icon {
    position: relative;

    span {
      display: block;
      width: 25px;
    }

    &:before {
      position: absolute;
      left: 0;
      top: -6px;
      width: 25px;
      height: 20px;
      background: url('../../../assets/images/msg_icon.png');
      background-size: 100%;
      content: "";
    }

    &:hover {
      &:before {
        background-position: bottom left;
      }
    }
  }

  .Profile_sec {
    .Profile_icon {
      width: 48px;
      height: 48px;
      font-size: 36px;
      background: #f94c1d;
      color: #fff;
      @include border-radius(50%);
      display: block;
      text-align: center;
      font-family: $dec-font;
      line-height: 48px;
      @include box-shadow (1px 1px 4px 0px rgba(0, 0, 0, 0.3));
      text-decoration: none;

      @include breakpoint(x-small) {
        width: 35px;
        height: 35px;
        font-size: 30px;
        line-height: 36px;
      }
    }

    .dropdown-toggle {
      padding-right: 16px;
      position: relative;
      float: left;

      @include breakpoint(x-small) {
        padding-right: 10px;
        margin-top: -5px;
      }

      &.notifi {
        padding-right: 24px;
        position: relative;

        @include breakpoint(x-small) {
          padding-right: 8px;
        }

        span {
          display: block;
          width: 25px;
        }

        &:before {
          position: absolute;
          left: 0;
          top: -10px;
          width: 25px;
          height: 26px;
          background: url('../../../assets/images/notifi_icon.png');
          background-size: 100%;
          content: "";
        }

        &:hover {
          &:before {
            background-position: bottom left;
          }
        }
      }

      .badge {
        position: absolute;
        top: -12px;
        right: 20px;
        background: #f94c1d;
        width: 17px !important;
        height: 17px;
        text-align: center;
        color: #fff;
        @include border-radius(50%);

        @include breakpoint(x-small) {
          right: 7px;
        }

        b {
          font-size: 400px;
          line-height: 14px;
          font-size: 13px;
          margin-top: -3px;
          display: block;
        }
      }

      &:after {
        display: none;
      }
    }
  }
}

.dropdown-profile {
  ul {
    border-top: 1px solid #e5e5e5;
    margin: 0px;
    top: 45px !important;
    padding: 0px !important;
    width: 300px;
    left: -120px !important;

    @include breakpoint(x-small) {
      left: auto !important;
      transform: none !important;
      right: -75px !important;
    }

    li {
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 20px;
      color: #767676;
      font-size: 15px;
      width: 100%;
      float: left;

      .notification-img {
        float: left;
        width: 50px;

        img {
          border: 3px solid #d4d4d4;
          @include border-radius (36px);
        }
      }

      .notification-msg {
        float: right;
        width: calc(100% - 55px);

        .timer {
          background: url('../../../assets/images/timer.png') top left no-repeat;
          padding: 0 0 0 20px;
          float: right;
          margin-top: 20px;
        }

        strong {
          color: #353535;
        }
      }

      &:hover {
        background: #eeeeee;
      }

      &:last-child {
        background: #eeeeee;
        @include border-radius (0 0.25rem .25rem);

        p {
          text-align: center;
          margin-bottom: 0;

          a {
            text-transform: uppercase;
            color: #767676;
            text-decoration: none;
          }
        }

        &:hover {
          background: #f94c1d;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.navbar-brand {
  @include breakpoint(medium) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

// for toggle btn animation
.navbar-toggler {
  position: absolute;
  top: 18px;
  padding: 7px 13px;

  @include breakpoint(x-small) {
    top: 10px;
  }
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #f15625;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  -o-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.logo_for_desk {
  visibility: visible;

  @include breakpoint(x-small) {
    visibility: hidden;
    display: none;

  }
}

.logo_for_mobile {
  visibility: hidden;

  @include breakpoint(x-small) {
    visibility: visible;
  }
}

.login_header {
  border-top: 5px solid #e94e16;

  .navbar {
    .navbar-nav {
      li {
        padding: 0 7px;

        a {
          background: #ececec;
          font-size: 14px;
          color: #000000;
          text-transform: uppercase;
          @include border-radius (20px);
          padding: 10px 25px 11px 25px;

          @include breakpoint(medium) {
            @include border-radius (0px);
          }

          &:hover,
          &.active {
            background: #f45117;
            @include box-shadow (4px 6px 11px 0px rgba(0, 0, 0, 0.41));
            color: #fff;
          }

          &:after {
            display: none !important;
          }
        }
      }
    }
  }

  .rightside {
    float: right;
    width: 96px;
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;

    @include breakpoint(xxlarge) {
      right: 15px;
    }

    @include breakpoint(x-small) {
      top: 6px;
    }

    &:before {
      position: absolute;
      left: -25px;
      top: 12px;
      width: 17px;
      height: 27px;
      background: url('../../../assets/images/phone_icon.png') no-repeat;
      content: "";
      background-size: 100%;
    }

    a {
      font-size: 15px;
      color: #000000;
      line-height: 18px;
      display: block;
    }

    strong {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.navbar_bottom {
  padding: 4px 0 !important;

  .navbar-toggler {
    top: 10px;
  }

  @include breakpoint(medium) {
    .navbar-collapse {
      ul {
        background: #fff;
        margin-top: 45px !important;
        position: relative;
        z-index: 555;

        li {
          width: 100%;

          a {
            padding-left: 0 !important;
            width: 100% !important;
          }
        }
      }
    }
  }

}

header {
  position: relative;
  z-index: 6;
}

.dropdown-menu.dropdown-profile {
  @include breakpoint(x-small) {
    right: -42px !important;
  }

}

.for_mobile_m {
  display: none;

  @include breakpoint(small) {
    display: block;
  }
}

.header_main.sticky {
  position: fixed;
  background: #fff;
  top: 0;
}
